<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>

    <services>
      <register
        patch:instead="*[@serviceType='Sitecore.Commerce.XA.Foundation.Catalog.Providers.IRecommendedProductsProvider, Sitecore.Commerce.XA.Foundation.Catalog']"
        serviceType="Sitecore.Commerce.XA.Foundation.Catalog.Providers.IRecommendedProductsProvider, Sitecore.Commerce.XA.Foundation.Catalog"
        implementationType="Feature.Sugcon.Providers.CustomOrderBasedRecommendedProductsProvider, Feature.Sugcon"
        lifetime="Singleton" />
      <register
        patch:instead="*[@serviceType='Sitecore.Commerce.XA.Feature.Emails.Repositories.IEmailRecommendedProductsRepository, Sitecore.Commerce.XA.Feature.Emails']"
        serviceType="Sitecore.Commerce.XA.Feature.Emails.Repositories.IEmailRecommendedProductsRepository, Sitecore.Commerce.XA.Feature.Emails"
        implementationType="Feature.Sugcon.Repositories.CustomEmailRecommendedProductsRepository, Feature.Sugcon" lifetime="Singleton"/>
    </services>

  </sitecore>
</configuration>
